/* Account Page CSS Stylesheet */



.account_container{
	background-color: rgb(255, 255, 255);
    color: #111010;
    margin: auto;
	width: 280px;
	border-radius: 33px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 2rem !important;
    
}

.backboard{
	background-color: #111010;
    width: 280px;
    margin: auto;
	border-radius: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 2rem !important;
    translate:-32px;
    
}

.acinfo{
	background-color: rgb(104, 180, 121);
    text-align: center;
	border-radius: 33px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 2rem !important;
}

.username{
    font-size: 15px;
	font-weight: bold;
	color: #272727;
	position: relative;
	top: 8px;
}
.email{
	font-size: 14px;
	color: grey;
	position: relative;
	top: 2px;
}

.bottom{
	font-size: 16px;
	font-weight: 700;
	color: #272727;
}