{% extends "base.html" %}

{% block content %}
    <div class = "account_container">
        <div class = top>
            <h2 class="username">Username: {{ username }}</h2><br>
            <h2 class="email">Email: {{ email }}</h2><br>
        </div>

        <br>
        <div class="backboard">
            <div class = "acinfo"><h3>Overall Highscore: {{ highscore }}</h3></div><br>
            <div class = "acinfo">Games Played: {{ game_count }}</div><br>
            <div class = "acinfo">Games Completed: {{ completed_game_count }}</div>
        </div>

        <br>
        <button id="logout_button" class="login_button" onclick="window.location.href='{{ url_for('logout') }}'">Logout</button>
    </div>
{% endblock %}