{% extends "base.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>

<div class="wrapper">
    <div class="leaderboard">
        <h1>Leaderboard</h1>
        <!-- https://ttl255.com/jinja2-tutorial-part-2-loops-and-conditionals/ used for jinja2 itteration-->
        {% for user in sorted_leaderboard -%}
            <p>{{user['username']}}: {{user['highscore']}}</p>
        {% endfor %}
    </div>

    <div class="game_stats">
        <div class="score_counter" id="score_counter"></div>
        <div class="game_mode" id="game_mode">{{ game_mode }}</div>
        <meta id="my-data" data-name="{{game_mode}}" data-other="{{other}}">
    </div>

    <div class="table_window" id="periodic_table">

    </div>

    <div class="question_window" id="question_window">
        <h1>Question Window</h1>

        <div class="question" id="question"></div>

        <input type="text" id="answer">
        <button onclick="checkAnswer(false)" class="submit_button"> Answer </button>
        <button onclick="checkAnswer(true)" class="submit_button"> Give Up </button>
        
        <div class="show_answer" id="show_answer"></div>

        <form action="{{ url_for('endGame') }}" method="post">
            <br>
            <input type="hidden" id="score_output" name="score_output">
            <input type="hidden" id="game_completed" name="game_completed">
            <br>
            <button onclick="set_score()" type="submit" class="submit_button"> End Game </button>
        </form>
    </div>

    <div class="settings_window" id="settings_window">
        <form action="{{ url_for('index') }}" method="post">
            <input type="radio" name="gm" value="Symbol => Name (1.00x)" required>Symbol => Name (1.00x)
            <br>
            <input type="radio" name="gm" value="Name => Group (1.25x)" required>Name => Group (1.25x)
            <br>
            <input type="radio" name="gm" value="Name/Symbol => Atomic Number (1.50x)" required>Name/Symbol => Atomic Number (1.50x)
            <br>
            <button type="submit" class="submit_button">Set Game Mode</button>
        </form>
    </div>

</div>

<script>
    const periodicTableData = [
        { symbol: "H", name: "Hydrogen", group: "Nonmetal", atomicNumber: 1, mass: 1.01 },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: "He", name: "Helium", group: "Noble Gas", atomicNumber: 2, mass: 4.00 },
        { symbol: "Li", name: "Lithium", group: "Alkali Metal", atomicNumber: 3, mass: 6.94 },
        { symbol: "Be", name: "Beryllium", group: "Alkaline Earth Metal", atomicNumber: 4, mass: 9.01 },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: "B", name: "Boron", group: "Metalloid", atomicNumber: 5, mass: 10.81 },
        { symbol: "C", name: "Carbon", group: "Nonmetal", atomicNumber: 6, mass: 12.01 },
        { symbol: "N", name: "Nitrogen", group: "Nonmetal", atomicNumber: 7, mass: 14.01 },
        { symbol: "O", name: "Oxygen", group: "Nonmetal", atomicNumber: 8, mass: 16.00 },
        { symbol: "F", name: "Fluorine", group: "Halogen", atomicNumber: 9, mass: 19.00 },
        { symbol: "Ne", name: "Neon", group: "Noble Gas", atomicNumber: 10, mass: 20.18 },
        { symbol: "Na", name: "Sodium", group: "Alkali Metal", atomicNumber: 11, mass: 22.99 },
        { symbol: "Mg", name: "Magnesium", group: "Alkaline Earth Metal", atomicNumber: 12, mass: 24.31 },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: "Al", name: "Aluminum", group: "Post Transition Metal", atomicNumber: 13, mass: 26.98 },
        { symbol: "Si", name: "Silicon", group: "Metalloid", atomicNumber: 14, mass: 28.09 },
        { symbol: "P", name: "Phosphorus", group: "Nonmetal", atomicNumber: 15, mass: 30.97 },
        { symbol: "S", name: "Sulfur", group: "Nonmetal", atomicNumber: 16, mass: 32.07 },
        { symbol: "Cl", name: "Chlorine", group: "Halogen", atomicNumber: 17, mass: 35.45 },
        { symbol: "Ar", name: "Argon", group: "Noble Gas", atomicNumber: 18, mass: 39.95 },
        { symbol: "K", name: "Potassium", group: "Alkali Metal", atomicNumber: 19, mass: 39.10 },
        { symbol: "Ca", name: "Calcium", group: "Alkaline Earth Metal", atomicNumber: 20, mass: 40.08 },
        { symbol: "Sc", name: "Scandium", group: "Transition Metal", atomicNumber: 21, mass: 44.96 },
        { symbol: "Ti", name: "Titanium", group: "Transition Metal", atomicNumber: 22, mass: 47.87 },
        { symbol: "V", name: "Vanadium", group: "Transition Metal", atomicNumber: 23, mass: 50.94 },
        { symbol: "Cr", name: "Chromium", group: "Transition Metal", atomicNumber: 24, mass: 51.99 },
        { symbol: "Mn", name: "Manganese", group: "Transition Metal", atomicNumber: 25, mass: 54.94 },
        { symbol: "Fe", name: "Iron", group: "Transition Metal", atomicNumber: 26, mass: 55.85 },
        { symbol: "Co", name: "Cobalt", group: "Transition Metal", atomicNumber: 27, mass: 58.93 },
        { symbol: "Ni", name: "Nickel", group: "Transition Metal", atomicNumber: 28, mass: 58.69 },
        { symbol: "Cu", name: "Copper", group: "Transition Metal", atomicNumber: 29, mass: 63.55 },
        { symbol: "Zn", name: "Zinc", group: "Transition Metal", atomicNumber: 30, mass: 65.38 },
        { symbol: "Ga", name: "Gallium", group: "Post Transition Metal", atomicNumber: 31, mass: 69.72 },
        { symbol: "Ge", name: "Germanium", group: "Metalloid", atomicNumber: 32, mass: 72.63 },
        { symbol: "As", name: "Arsenic", group: "Metalloid", atomicNumber: 33, mass: 74.92 },
        { symbol: "Se", name: "Selenium", group: "Nonmetal", atomicNumber: 34, mass: 78.97 },
        { symbol: "Br", name: "Bromine", group: "Halogen", atomicNumber: 35, mass: 79.90 },
        { symbol: "Kr", name: "Krypton", group: "Noble Gas", atomicNumber: 36, mass: 83.80 },
        { symbol: "Rb", name: "Rubidium", group: "Alkali Metal", atomicNumber: 37, mass: 85.47 },
        { symbol: "Sr", name: "Strontium", group: "Alkaline Earth Metal", atomicNumber: 38, mass: 87.62 },
        { symbol: "Y", name: "Yttrium", group: "Transition Metal", atomicNumber: 39, mass: 88.91 },
        { symbol: "Zr", name: "Zirconium", group: "Transition Metal", atomicNumber: 40, mass: 91.22 },
        { symbol: "Nb", name: "Niobium", group: "Transition Metal", atomicNumber: 41, mass: 92.91 },
        { symbol: "Mo", name: "Molybdenum", group: "Transition Metal", atomicNumber: 42, mass: 95.95 },
        { symbol: "Tc", name: "Technetium", group: "Transition Metal", atomicNumber: 43, mass: 98.00 },
        { symbol: "Ru", name: "Ruthenium", group: "Transition Metal", atomicNumber: 44, mass: 101.1 },
        { symbol: "Rh", name: "Rhodium", group: "Transition Metal", atomicNumber: 45, mass: 102.9 },
        { symbol: "Pd", name: "Palladium", group: "Transition Metal", atomicNumber: 46, mass: 106.4 },
        { symbol: "Ag", name: "Silver", group: "Transition Metal", atomicNumber: 47, mass: 107.9 },
        { symbol: "Cd", name: "Cadmium", group: "Transition Metal", atomicNumber: 48, mass: 112.4 },
        { symbol: "In", name: "Indium", group: "Post Transition Metal", atomicNumber: 49, mass: 114.8 },
        { symbol: "Sn", name: "Tin", group: "Post Transition Metal", atomicNumber: 50, mass: 118.7 },
        { symbol: "Sb", name: "Antimony", group: "Metalloid", atomicNumber: 51, mass: 121.8 },
        { symbol: "Te", name: "Tellurium", group: "Metalloid", atomicNumber: 52, mass: 127.6 },
        { symbol: "I", name: "Iodine", group: "Halogen", atomicNumber: 53, mass: 126.9 },
        { symbol: "Xe", name: "Xenon", group: "Noble Gas", atomicNumber: 54, mass: 131.3 },
        { symbol: "Cs", name: "Cesium", group: "Alkali Metal", atomicNumber: 55, mass: 132.9 },
        { symbol: "Ba", name: "Barium", group: "Alkaline Earth Metal", atomicNumber: 56, mass: 137.3 },
        { symbol: "La", name: "Lanthanum", group: "Lanthanide", atomicNumber: 57, mass: 138.9 },
        { symbol: "Hf", name: "Hafnium", group: "Transition Metal", atomicNumber: 72, mass: 178.5 },
        { symbol: "Ta", name: "Tantalum", group: "Transition Metal", atomicNumber: 73, mass: 180.9 },
        { symbol: "W", name: "Tungsten", group: "Transition Metal", atomicNumber: 74, mass: 183.8 },
        { symbol: "Re", name: "Rhenium", group: "Transition Metal", atomicNumber: 75, mass: 186.2 },
        { symbol: "Os", name: "Osmium", group: "Transition Metal", atomicNumber: 76, mass: 190.2 },
        { symbol: "Ir", name: "Iridium", group: "Transition Metal", atomicNumber: 77, mass: 192.2 },
        { symbol: "Pt", name: "Platinum", group: "Transition Metal", atomicNumber: 78, mass: 195.1 },
        { symbol: "Au", name: "Gold", group: "Transition Metal", atomicNumber: 79, mass: 197.0 },
        { symbol: "Hg", name: "Mercury", group: "Transition Metal", atomicNumber: 80, mass: 200.6 },
        { symbol: "Tl", name: "Thallium", group: "Post Transition Metal", atomicNumber: 81, mass: 204.4 },
        { symbol: "Pb", name: "Lead", group: "Post Transition Metal", atomicNumber: 82, mass: 207.2 },
        { symbol: "Bi", name: "Bismuth", group: "Post Transition Metal", atomicNumber: 83, mass: 208.9 },
        { symbol: "Po", name: "Polonium", group: "Post Transition Metal", atomicNumber: 84, mass: 209.0 },
        { symbol: "At", name: "Astatine", group: "Halogen", atomicNumber: 85, mass: 210.0 },
        { symbol: "Rn", name: "Radon", group: "Noble Gas", atomicNumber: 86, mass: 222.0 },
        { symbol: "Fr", name: "Francium", group: "Alkali Metal", atomicNumber: 87, mass: 223.0 },
        { symbol: "Ra", name: "Radium", group: "Alkaline Earth Metal", atomicNumber: 88, mass: 226.0 },
        { symbol: "Ac", name: "Actinium", group: "Actinide", atomicNumber: 89, mass: 227.0 },
        { symbol: "Rf", name: "Rutherfordium", group: "Transition Metal", atomicNumber: 104, mass: 267.0 },
        { symbol: "Db", name: "Dubnium", group: "Transition Metal", atomicNumber: 105, mass: 268.0 },
        { symbol: "Sg", name: "Seaborgium", group: "Transition Metal", atomicNumber: 106, mass: 269.0 },
        { symbol: "Bh", name: "Bohrium", group: "Transition Metal", atomicNumber: 107, mass: 270.0 },
        { symbol: "Hs", name: "Hassium", group: "Transition Metal", atomicNumber: 108, mass: 277.0 },
        { symbol: "Mt", name: "Meitnerium", group: "Unknown Properties", atomicNumber: 109, mass: 278.0 },
        { symbol: "Ds", name: "Darmstadtium", group: "Unknown Properties", atomicNumber: 110, mass: 281.0 },
        { symbol: "Rg", name: "Roentgenium", group: "Unknown Properties", atomicNumber: 111, mass: 282.0 },
        { symbol: "Cn", name: "Copernicium", group: "Transition Metal", atomicNumber: 112, mass: 285.0 },
        { symbol: "Nh", name: "Nihonium", group: "Unknown Properties", atomicNumber: 113, mass: 286.0 },
        { symbol: "Fl", name: "Flerovium", group: "Unknown Properties", atomicNumber: 114, mass: 289.0 },
        { symbol: "Mc", name: "Moscovium", group: "Unknown Properties", atomicNumber: 115, mass: 290.0 },
        { symbol: "Lv", name: "Livermorium", group: "Unknown Properties", atomicNumber: 116, mass: 293.0 },
        { symbol: "Ts", name: "Tennessine", group: "Unknown Properties", atomicNumber: 117, mass: 294.0 },
        { symbol: "Og", name: "Organesson", group: "Unknown Properties", atomicNumber: 118, mass: 294.0 },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: "Ce", name: "Cerium", group: "Lanthanide", atomicNumber: 58, mass: 140.1 },
        { symbol: "Pr", name: "Praseodymium", group: "Lanthanide", atomicNumber: 59, mass: 140.9 },
        { symbol: "Nd", name: "Neodymium", group: "Lanthanide", atomicNumber: 60, mass: 144.2 },
        { symbol: "Pm", name: "Promethium", group: "Lanthanide", atomicNumber: 61, mass: 145.0 },
        { symbol: "Sm", name: "Samarium", group: "Lanthanide", atomicNumber: 62, mass: 150.4 },
        { symbol: "Eu", name: "Europium", group: "Lanthanide", atomicNumber: 63, mass: 152.0 },
        { symbol: "Gd", name: "Gadolinium", group: "Lanthanide", atomicNumber: 64, mass: 157.3 },
        { symbol: "Tb", name: "Terbium", group: "Lanthanide", atomicNumber: 65, mass: 158.9 },
        { symbol: "Dy", name: "Dysprosium", group: "Lanthanide", atomicNumber: 66, mass: 162.5 },
        { symbol: "Ho", name: "Holmium", group: "Lanthanide", atomicNumber: 67, mass: 164.9 },
        { symbol: "Er", name: "Erbium", group: "Lanthanide", atomicNumber: 68, mass: 167.3 },
        { symbol: "Tm", name: "Thulium", group: "Lanthanide", atomicNumber: 69, mass: 168.9 },
        { symbol: "Yb", name: "Ytterbium", group: "Lanthanide", atomicNumber: 70, mass: 173.0 },
        { symbol: "Lu", name: "Lutetium", group: "Lanthanide", atomicNumber: 71, mass: 175.0 },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null },
        { symbol: "Th", name: "Thorium", group: "Actinide", atomicNumber: 90, mass: 232.0 },
        { symbol: "Pa", name: "Protactinium", group: "Actinide", atomicNumber: 91, mass: 231.0 },
        { symbol: "U", name: "Uranium", group: "Actinide", atomicNumber: 92, mass: 238.0 },
        { symbol: "Np", name: "Neptunium", group: "Actinide", atomicNumber: 93, mass: 237.0 },
        { symbol: "Pu", name: "Plutonium", group: "Actinide", atomicNumber: 94, mass: 244.0 },
        { symbol: "Am", name: "Americium", group: "Actinide", atomicNumber: 95, mass: 243.0 },
        { symbol: "Cm", name: "Curium", group: "Actinide", atomicNumber: 96, mass: 247.0 },
        { symbol: "Bk", name: "Berkelium", group: "Actinide", atomicNumber: 97, mass: 247.0 },
        { symbol: "Cf", name: "Californium", group: "Actinide", atomicNumber: 98, mass: 251.0 },
        { symbol: "Es", name: "Einsteinium", group: "Actinide", atomicNumber: 99, mass: 252.0 },
        { symbol: "Fm", name: "Fermium", group: "Actinide", atomicNumber: 100, mass: 257.0 },
        { symbol: "Md", name: "Mendelevium", group: "Actinide", atomicNumber: 101, mass: 258.0 },
        { symbol: "No", name: "Nobelium", group: "Actinide", atomicNumber: 102, mass: 259.0 },
        { symbol: "Lr", name: "Lawrencium", group: "Transition Metal", atomicNumber: 103, mass: 266.0 },
        { symbol: " ", name: " ", group: "blank", atomicNumber: null, mass: null }
    ];
    
    //localStorage.setItem('periodicTableData', JSON.stringify(periodicTableData));

    const gridContainer = document.getElementById("periodic_table");
    
    periodicTableData.forEach((elementData) => {
        const gridCell = document.createElement("div");
        
        if (elementData.group != "blank") {
            gridCell.classList.add("table_element");
            gridCell.id = elementData.atomicNumber.toString();
        } else {
            gridCell.classList.add("table_blank");
        }

        const symbolDiv = document.createElement("div");
        symbolDiv.classList.add("symbolDiv");
        symbolDiv.innerText = elementData.symbol;

        const numDiv = document.createElement("div");
        numDiv.classList.add("numDiv");
        numDiv.innerText = elementData.atomicNumber;

        const massDiv = document.createElement("div");
        massDiv.classList.add("massDiv");
        massDiv.innerText = elementData.mass;

        const nameDiv = document.createElement("div");
        nameDiv.classList.add("nameDiv");
        nameDiv.innerText = elementData.name;

        const num_mass_div = document.createElement("div");
        num_mass_div.classList.add("num_mass_div");

        num_mass_div.appendChild(numDiv);
        num_mass_div.appendChild(massDiv);

        gridCell.appendChild(num_mass_div);

        gridCell.appendChild(symbolDiv);
        gridCell.appendChild(nameDiv);

        gridContainer.appendChild(gridCell);
    });
    

    let score_counter = 0;
    const score_display = document.getElementById("score_counter");

    const questionContainer = document.getElementById("question");

    function shuffleArray(array) {
        for (let i = array.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [array[i], array[j]] = [array[j], array[i]];
        }
        return array
    }

    // filter to remove blank elements from the element list
    function isElement(element) {
        return element.group != "blank";
    }

    // filter and shuffle element list
    periodicTableData_filtered = periodicTableData.filter(isElement);
    shuffledElements = shuffleArray(periodicTableData_filtered);
    let elementIndex = 0;

    const gameMode = "{{ game_mode }}";
    game_completed = document.getElementById("game_completed");
    function displayQuestion() {
        if (gameMode == "Symbol =&gt; Name (1.00x)") {
            if (elementIndex < shuffledElements.length) {
                if (shuffledElements[elementIndex].group != "blank") {
                    questionContainer.innerText = `Type the name of this element: ${shuffledElements[elementIndex].symbol}`;
                } else {
                    displayQuestion(); // Skip blank elements and proceed to the next
                }
            } else {
                questionContainer.innerText = "Game Complete!";
                game_completed.value = "true";
            }
        } else if (gameMode == "Name/Symbol =&gt; Atomic Number (1.50x)") {
            if (elementIndex < shuffledElements.length) {
                if (shuffledElements[elementIndex].group != "blank") {
                    questionContainer.innerText =`Type the atomic number of this element: ${shuffledElements[elementIndex].name}`;
                } else {
                    displayQuestion();
                }
            } else {
                questionContainer.innerText = "Game Complete!";
                game_completed.value = "true";
            }
        } else if (gameMode == "Name =&gt; Group (1.25x)") {
            if (elementIndex < shuffledElements.length) {
                if (shuffledElements[elementIndex].group != "blank") {
                    questionContainer.innerText =`Type the group of this element: ${shuffledElements[elementIndex].name}`;
                } else {
                    displayQuestion();
                }
            } else {
                questionContainer.innerText = "Game Complete!";
                game_completed.value = "true";
            }
        }
    }


    const answerInput = document.getElementById("answer");
    const show_answer = document.getElementById("show_answer");
    let score_mult = 1.00;

    let failed = false; // failed question flag
    score_display.innerText = `Score: ${score_counter}`;
    function checkAnswer(giveUp) {
        const userAnswer = answerInput.value.trim().toLowerCase();

        let correctAnswer = "";
        // match correct answer to gamemode
        if (gameMode == "Symbol =&gt; Name (1.00x)") {
            correctAnswer = shuffledElements[elementIndex].name;
            score_mult = 1.00;
        } else if (gameMode == "Name =&gt; Group (1.25x)") {
            correctAnswer = shuffledElements[elementIndex].group;
            score_mult = 1.25;
        } else if (gameMode == "Name/Symbol =&gt; Atomic Number (1.50x)") {
            correctAnswer = shuffledElements[elementIndex].atomicNumber.toString();
            score_mult = 1.50;
        } else {
            alert("Error");
        }
        
        if (userAnswer == correctAnswer.toLowerCase()) {
        // if answer is correct
            if (failed == false) {
            // if question not failed, increase score and style as correct
                score_counter += score_mult;
                document.getElementById(shuffledElements[elementIndex].atomicNumber).classList.add("correct_answer");
            } else {
            // else, style as failed
                document.getElementById(shuffledElements[elementIndex].atomicNumber).classList.add("wrong_answer");
            }
            set_score(); // update score
            
            failed = false; // reset failed flag
            answerInput.value = ""; // reset input for next question
            elementIndex++; // increment element index
            displayQuestion();
        } else if (giveUp == true) {
        // if user gives up on question
            document.getElementById(shuffledElements[elementIndex].atomicNumber).classList.add("wrong_answer");

            failed = false;
            answerInput.value = "";
            elementIndex++;
            displayQuestion();
            
            show_answer.innerText = `Correct Answer was: "${correctAnswer}"`;
        } else {
        // if answer is incorrect
            failed = true; // flag as failed question
            answerInput.value = ""; // reset input to retry question
        }
    }

    // 
    function set_score() {
        score_output = document.getElementById("score_output");
        score_output.value = score_counter;
        score_display.innerText = `Score: ${score_counter}`;
    }


    // call first question when page is rendered
    displayQuestion()
</script>

{% endblock %}