{% extends "base.html" %}

{% block content %}

{% if session.name %}
    <!-- successful login message -->
    <div>
        <div>
            Welcome! {{ session.name }}.
        </div>
        
        <!-- logout button -->
        <button onclick="window.location.href='{{ url_for('logout') }}'">Logout</button>
    </div>

{% else %}

    <div>
        <div>
            <h1>{{ output }}</h1>
            <h1>Sign in or create an account</h1>
            <form id="login_form" method="post" action="{{url_for('login')}}"> 
                <input id="login_username" type="text" name="login_username" placeholder="* Username" required>
                <input id="login_password" type="password" name="login_password" placeholder="* Password" required>
                <button type="submit">Sign In</button>
            </form>
            <button id="register_button" type="button"><a href="{{ url_for('register') }}">Register Now</a></button>
        </div>
    </div>

{% endif %}
{% endblock %}